.box{
	border: 1px solid #aeaeae;
	display: inline-block;
	box-shadow: 3px 3px 5px 0px #6c757d;
	padding: 10px;
	border-radius: .25rem;
}
.box > .item{
	margin: 3px 0;
}
.box > .item > div{
	display: inline-block;
}
.box > .item > .title{
	width: 200px;
	font-weight: bold;
}
.image_container{
	overflow: hidden;
}