.header_wrap{
	width: 1000px;
	margin: auto;
}
.header_left{
	float: left;
}
.header_right{
	float: right;
}
.header_title{
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	background-color: #fbc714;
	padding: 8px;
}
.header_menus{
	margin-left: 50px;
	display: inline-block;
}
.header_menus > a {
	font-size: 15px;
	color: black;
	font-weight: 500;
}
