<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.niconicomics.core.nico.dao.DonateMapper">

	<insert id="insertDonate" parameterType="donate">
		insert into tbl_donate(
			donate_id,
			nico,
			sponsor_id,
			author_id,
			webtoon_id
		) values (
			seq_donate.nextval,
			#{nico},
			#{sponsorId},
			#{authorId},
			#{webtoonId}
		)
	</insert>
	
	<select id="selectDonateListBySearchOption" parameterType="donateSearchOption" resultType="donate">
		select *
		from tbl_donate
		<where>
			<if test="webtoonId != 0">
				webtoon_id = #{webtoonId}
			</if>
			<if test="authorId != 0">
				author_id = #{authorId}
			</if>
		</where>
	</select>

</mapper>