<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.niconicomics.core.nico.dao.transferMapper">

	<insert id="transferDonate" parameterType="transfer">
		insert into tbl_transfer(
			transfer_id,
			author_id,
			amount,
			nico,
		) values (
			seq_transfer.nextval,
			#{authorId},
			#{amount},
			#{nico},
		)
	</insert>

</mapper>