<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원 관리 SQL -->
<mapper namespace="com.niconicomics.core.user.dao.UserMapper">

<!-- 회원 가입 -->
<insert id="insertUser" parameterType="user">
	insert into tbl_user(
		user_id
		,email
		,password
		,type
		,nickname
		,birthdate
		<if test="gender=='MALE'|| gender=='FEMALE'">
		,gender
		</if>
		,salt
	)
	values(
		seq_user.nextval
		,#{email}
		,#{password}
		,#{type}
		,#{nickname}
		,#{birthdate}
		<if test="gender=='MALE'|| gender=='FEMALE'">
		,#{gender}
		</if>
		,#{salt}
	)
</insert>

<!-- 이메일 중복 체크 -->
<select id="selectCountByEmail" resultType="int">
	select count(*) from tbl_user
	where email = #{email}
</select>

</mapper>