.header_wrap{
	display: block;
	margin: auto;
	background-color: #E4B100;
	height: 100%;
	line-height: 6vh;
}
.header_right{
	float: right;
	vertical-align: middle;
	padding-right: 8px;
	color: white;
}
.header_title{
	font-weight: bold;
	vertical-align: middle;
	font-size: 15px;
	cursor: pointer;
	color: white;
	padding-left: 8px;
	display: inline-block;
}