body{
	font-size: 14px;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #fff;
	color: #333;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
}
footer{
	background-color: #3a3a3a;
	color: #a3a3a3;
}

main{
	flex: 1;
	margin: 20px auto;
	width: 100%;
	min-height: 100%;
}