<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 콘텐츠 처리 SQL -->
<mapper namespace="com.niconicomics.core.dao.ContentsMapper">

<!-- 콘텐츠 입력 -->
	<insert id="insertContents" parameterType="contents">
		insert into tbl_contents(
			contents_id
			,episode_id
			,idx
			,image
		)values(
			seq_contents.nextval
			,#{episodeId}
			,#{idx}
			,#{image}
		)
	</insert>
<!-- 콘텐츠 정보 읽기 -->
	<select id="getContents" resultType="contents">
		select
			contents_id
			,episode_id
			,idx
			,image
		from
			tbl_contents
		where	
			episode_id = #{episodeId}
	</select>	
<!-- 콘텐츠 업데이트 -->
	<update id="updateContents" parameterType="contents">
		update
			tbl_contents
		set
			<if test="idx != null">
				idx = #{idx},
			</if>
			<if test="image != null">
				image = #{image},
			</if>
				episode_id = #{episodeId}
		where
			episode_id = #{episodeId} and
			contents_id = #{contentsId}
	</update>
<!-- 콘텐츠 삭제 -->
	

<!-- 글 수정 -->


<!-- 리플 저장 -->


<!-- 리플 삭제 -->




</mapper>
