<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 에피소드 처리 SQL -->
<mapper namespace="com.niconicomics.core.webtoon.dao.EpisodeMapper">

<!-- 에피소드 입력 -->
	<insert id="insertEpisode" parameterType="episode">
		insert into tbl_episode(
			episode_id
			,no
			,title
			,webtoon_id
			,thumbnail
		)values(
			seq_episode.nextval
			,#{no}
			,#{title}
			,#{webtoonId}
			,#{thumbnail}
		)
	</insert>
<!-- 에피소드 정보 읽기-->
	<select id="episodeSelectList" resultType="episode" parameterType="webtoonId">
		select
			episode_id
			,no
			,title
			,regdate
			,webtoon_id
			,thumbnail
		from 
			tbl_episode
		where
			webtoon_id
	</select>
<!-- 에피소드 정보 읽기-->
	<select id="episodeAllList" resultType="episode">
		select
			episode_id
			,no
			,title
			,regdate
			,webtoon_id
			,thumbnail
		from 
			tbl_episode
	</select>
<!-- 에피소드 업데이트 -->
	<update id="updateEpisode" parameterType="episode">
		update
			tbl_episode
		set
			<if test="no != null">
				no = #{no},
			</if>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="thumbnail != null">
				thumbnail = #{thumbnail},
			</if>
				webtoon_id = #{webtoonId}
		where
			episode_id = #{episodeId} and
			webtoon_id = #{webtoonId}
	</update>
<!-- 에피소드 삭제 -->
	<delete id="deleteEpisode" parameterType="episode">
		delete from
			tbl_episode
		where
			episode_id = #{episodeId} and
			webtoon_id = #{webtoonId}
	</delete>
<!-- 에피소드 선택 -->
	<select id="selectEpisodeByEpisodeId" parameterType="episode" resultType="Episode">
		select * from
			tbl_episode
		where
			episode_id = #{episodeId}
	</select>
	<select id="sselectEpisodeByEpisodeNo" parameterType="episode" resultType="Episode">
		select * from
			tbl_episode
		where
			no = #{no}
	</select>
	<select id="selectEpisodeByWebtoonId" parameterType="episode" resultType="Episode">
		select * from
			tbl_episode
		where
			webtoon_id = #{webtoonId}
	</select>
	

</mapper>
