<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 에피소드 처리 SQL -->
<mapper namespace="com.niconicomics.core.dao.EpisodeMapper">

<!-- 에피소드 입력 -->
	<insert id="episodeInsert" parameterType="episode">
		insert into tbl_episode(
			episode_id
			,no
			,title
			,webtoon_id
			,thumbnail
		)values(
			seq_episode.nextval
			,#{no}
			,#{title}
			,#{webtoonId}
			,#{thumbnail}
		)
	</insert>
<!-- 에피소드 정보 읽기-->
	<select id="episodeList" resultType="episode">
		select
			episode_id
			,no
			,title
			,regdate
			,webtoon_id
			,thumbnail
		from 
			tbl_episode
	</select>
	
		
<!-- 현재 페이지 목록 (검색 필터링 후) -->



<!-- 글 삭제 -->


<!-- 글 수정 -->


<!-- 리플 저장 -->


<!-- 리플 삭제 -->




</mapper>
