<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원 관리 SQL -->
<mapper namespace="com.niconicomics.core.dao.UserMapper">

<!-- 회원 가입 -->
<insert id="insertUser" parameterType="user">
	insert into tbl_user(
		user_id
		,email
		,password
		,nickname
		,birthdate
		,gender
		,type
		,authority
		,salt
		,regdate
		,nico
	)
	values(
		seq_user.nextval
		,#{email}
		,#{password}
		,#{nickname}
		,#{birthdate}
		,#{gender}
		,#{type}
		,default
		,#{salt}
		,default
		,default
	)
</insert>

</mapper>